doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel="stylesheet" href="stylesheets/bootstrap.css")
    link(rel="stylesheet" href="stylesheets/bootstrap-dropdownhover.min.css")
    link(rel="stylesheet" href="stylesheets/styles.css")
    title #{title}
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-nav.fixed-top
      .container
        // <span><img src="images/3.jpg" alt="" style="height: 23px;"></span>
        a.navbar-brand(href="index" style="color: teal;")
          strong Junior Baby Center
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .container
          a.nav-link(href="" style="font-size:15px; color: green;")
            i.fa.fa-phone
            b +256753613293
        #navbarResponsive.collapse.navbar-collapse.nav-tabs
          ul.navbar-nav.ml-auto
            // <li class="nav-item">+256753613293</li>
            li.nav-item.active
              a.nav-link.ba.active(href="index" style="font-size: 17px; color: green;")
                b Home
                // <span class="sr-only">(current)</span>
            li.nav-item
              a.nav-link(href="about" style="font-size: 17px; color: teal;")
                b  About
          
            li.nav-item
              a.nav-link(href="parents" style="font-size: 17px; color: teal;")
                b Parents
            li.nav-item
              a.nav-link(href="babysitter" style="font-size: 17px; color: teal;")
                b Babysitters
            li.nav-item
              a.nav-link(href="register" style="font-size: 17px; color: teal;")
                b Register
              
        // main content of the body goes here
        br
        br
    
    #carouselExampleInterval.carousel.slide.carousel-fade(data-ride="carousel")
      .carousel-inner
        .carousel-item.active(data-interval="10000")
          img.d-block.w-100(src="images/d.jpg" alt="..." style="height: 650px;  background-image: linear-gradient(to right, #3e5151, #decba4)")
          // Static Header
          .header-text.hidden-xs
            // <img class="d-block mx-auto mb-4" src="images/f.jpg" alt="" width="72" height="72">
            .col-md-12.text-center
              br
              br
              h2
                span(style="color: white;")
                  | Welcome to 
                  strong Junior baby center
              h3
                span(style="color: teal;")
                  strong Caring babysitters for your kids.
              br
              br
              div
                button.btn.btn-success.btn-min-block(type="button" onclick="location.href = '/Register';")   Sign up as a baby sitter
                //- button.btn.btn-success.btn-min-block(type="button") Register
          // /header-text
        //- .carousel-item
        //-   img.d-block.w-100(src="images/bg2.jpg" alt="..." style="height: 650px;  background-image: linear-gradient(to right, #3e5151, #decba4)")
        //-   // Static Header
        //-   .header-text.hidden-xs
        //-     // <img class="d-block mx-auto mb-4" src="images/f.jpg" alt="" width="72" height="72">
        //-     .col-md-12.text-center

        //-       br
        //-       h3
        //-         span(style="color: teal; font-weight: 30px;")
        //-           stron Caring for your kids.
        //-       br
        //-       div
        //-         button.btn.btn-success.btn-min-block(type="button" onclick="location.href = 'Register';") Sign up as a baby sitter
        //-         //- button.btn.btn-success.btn-min-block(type="button") Register
          // /header-text
      a.carousel-control-prev(href="#carouselExampleInterval" role="button" data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#carouselExampleInterval" role="button" data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
    footer.container.py-5(style="color: whitesmoke;")
      .row
        //
          <div class="col-6 col-md">
          <p><a ><h4 style="color: teal;">Admin</h4></a></p>
          <small class="d-block mb-3 text-muted">&copy; 2019</small>
          </div>
        .col-6.col-md
          //- h5(style="color: teal;") JBC
          img.d-block(src="images/f.png" alt="" width="72" height="72")
        .col-6.col-md
          h5(style="color: teal;") Help & advice
          ul.list-unstyled.text-small
            li
              a.text-muted(href="#") FAQs
            li
              a.text-muted(href="#") Safety Center
            li
              a.text-muted(href="#") More info guides
        .col-6.col-md
          h5(style="color: teal;") Search tips
          ul.list-unstyled.text-small
            li
              a.text-muted(href="#") Finding the right baby sitter
            li
              a.text-muted(href="#") Hiring a nanny
            li
              a.text-muted(href="#") Nanny contacts
        //
          <div class="col-6 col-md">
          <h5 style="color: teal;">Resources</h5>
          <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          </ul>
          </div>
        .col-6.col-md
          h5(style="color: teal;") About
          ul.list-unstyled.text-small
            li
              a.text-muted(href="#") Locations
            li
              a.text-muted(href="#") Privacy
            li
              a.text-muted(href="#") Terms
        p.float-right
          a(href="#" style="color: green; font-size: 10px;")
            button.btn.btn-success Back to top
    //
      <script type="text/javascript">function add_chatinline(){var hccid=19437001;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
      add_chatinline(); </script>
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/bootstrap-dropdownhover.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="js/bootstrap.bundle.js")
